@{ 
    BiblioMit.Models.VM.CSPTag.ImgSrc.Add("https://www.google.com/");
    BiblioMit.Models.VM.CSPTag.ImgSrc.Add("https://clients1.google.com/");
    BiblioMit.Models.VM.CSPTag.ImgSrc.Add("https://www.googleapis.com/");
    BiblioMit.Models.VM.CSPTag.ImgSrc.Add("https://cse.google.com/");
    BiblioMit.Models.VM.CSPTag.ImgSrc.Add("https://ssl.gstatic.com/");
    BiblioMit.Models.VM.CSPTag.ImgSrc.Add("https://*.gstatic.com/");

    BiblioMit.Models.VM.CSPTag.StyleSrc.Add("'unsafe-inline'");

    //BiblioMit.Models.VM.CSPTag.StyleSrcElem.Add("'sha256-LvrQqJvwY0Nzc/TnnE9yUnTzDunWHLT5+QppEDQuufs='");
    //BiblioMit.Models.VM.CSPTag.StyleSrcElem.Add("'sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU='");
    //BiblioMit.Models.VM.CSPTag.StyleSrcElem.Add("'sha256-cUFuwp4e078DeooEUfiR1pq5f2G7IrZQoHa/JYi5B+4='");

    BiblioMit.Models.VM.CSPTag.StyleSrcElem.Add("https://www.google.com/");

    BiblioMit.Models.VM.CSPTag.ScriptSrc.Add("'unsafe-eval'");

    BiblioMit.Models.VM.CSPTag.ScriptSrcElem.Add("https://cse.google.com/");
    BiblioMit.Models.VM.CSPTag.ScriptSrcElem.Add("https://www.google.com/");

    //BiblioMit.Models.VM.CSPTag.FrameSrc.Add("https://cse.google.com/");
}
<script async src="https://cse.google.com/cse.js?cx=017438341139104196983:enqpg7qxa6w"></script>
<div class="gcse-search"></div>