@{
    ViewData["Title"] = "Analytics";
}

<partial name="_LibsPg" model='new List<string> { "chart" }' />

<h1>@Localizer["Total visits per month"]</h1>

<div class="chartdiv w-100 h-80vh"></div>

<partial name="_AmCharts" model="4" />