@model BiblioMit.Models.ContactEditViewModel

@{
    ViewData["Title"] = "Editar";
}
<h2>Editar</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Contacto</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Last" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Last" class="form-control" />
                <span asp-validation-for="Last" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OpenHr" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OpenHr" class="form-control" />
                <span asp-validation-for="OpenHr" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CloseHr" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CloseHr" class="form-control" />
                <span asp-validation-for="CloseHr" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Volver al listado de contactos</a>
</div>

    <partial name="_ValidationScriptsPartial" />

