#aboutCarousel {
    .carousel-inner {
        .carousel-item {
            height: 85vh;
            min-height: 10rem;
            background-size: cover;
            background-image: url('../../wwwroot/images/backgrounds/mussels-shells-mytilus-watt-area-53131.min.jpg');

            .mask {
                background-color: rgba(100, 100, 100, 0.7);
            }
        }
    }
}
.fit-content {
    max-width: fit-content;
}